/* General styling */
body {
    background-color: #000000; /* Dark background */
    color: #e0e0e0; /* Light text color for readability */
    font-family: Arial, sans-serif; /* A modern, sans-serif font */
}

a {
    color: #ff5555; /* Bright red for links */
    text-decoration: none; /* Removes underline from links */
    display: block; /* Make links block-level for full-cell coverage */
    width: 100%;
    height: 100%;
}

a:hover {
    color: #ff0000; /* Dark red on hover for links */
}

/* Header styling */
header {
    background-color: #000000; /* Slightly lighter dark for the header */
    padding: 0px;
    text-align: center;
}

header h2, header h3 {
    margin: 0;
    color: #ff5555; /* Red accents for headers */
}

.home-link {
    display: block;
}

/* General Grid Styling */
.grid {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive columns */
    background-color: black;
    padding: 35px;
}

/* General Cell Styling */
.grid-cell {
    position: relative;
    text-align: center;
    transition: all 0.5s ease;
    background-color: rgb(49, 30, 30);
    border: 2px solid #cccccc; /* Light grey border */
    box-sizing: border-box; /* Include the margin/border in the cell's dimensions */
    color: white;
    height: 168.75px;
    overflow: hidden; /* Ensure content stays within the cell */
}

/* Inner div for background image */
.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover; /* Cover the entire cell */
    background-position: center;
    background-repeat: no-repeat;
    transition: filter 0.3s ease;
    z-index: -1; /* Place behind the text */
}

/* Dynamic effects for background image */
.grid-cell:hover .background-image {
    filter: brightness(45%);
}

/* Overlay text */
.grid-cell::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    color: white;
    font-size: 20px; /* Adjusted for better fit */
    font-weight: 900; /* Bolder text */
    text-shadow: 0px 0px 5px black; /* Enhanced text shadow for contrast */
    pointer-events: none; /* Ensure it doesn't interfere with clicking */
}

/* Cell-specific background images and overlay texts */
#zine-cell .background-image {
    background-image: url(media/zines_tn.png);
}

#zine-cell::after {
    content: "Zines";
}

#bookr-cell .background-image {
    background-image: url(media/bookreviews_tn.png);
}

#bookr-cell::after {
    content: "Book Reviews";
}

#parkrun-cell .background-image {
    background-image: url(media/parkruns_tn.png);
}

#parkrun-cell::after {
    content: "Parkruns";
}

#stories-cell .background-image {
    background-image: url(media/stories_tn.jpg);
}

#stories-cell::after {
    content: "Stories";
}

#letterbox-cell .background-image {
    /* If you have an image, uncomment and set the path */
    /* background-image: url(media/letterbox_tn.jpg); */
    background-color: #000000;
}

#letterbox-cell::after {
    content: "Tell me something";
}

#oldblog-cell .background-image {
    background-image: url(media/pfbrain_tn.jpg);
}

#oldblog-cell::after {
    content: "Old Blog";
}

/* Show overlay text on hover */
.grid-cell:hover::after {
    opacity: 1;
}

/* General styling */
body {
    background-color: #000000;
    color: #e0e0e0;
    font-family: 'Helvetica', 'Arial', sans-serif;
}
a {
    color: #ff5555;
    text-decoration: none;
}
a:hover {
    color: #ff0000;
}
/* Content spaces */
/* MAIN */
.main-container{
    width:85%;
    margin-left:auto;
    margin-right:auto;
}
/* HEADER */
.header{
    display: flex;
    justify-content: space-between;
}
/* DATE */
.header .date-link {
    margin-top:15px;
    transition: transform 0.8s ease; 
}
.date-link:hover{
    transform: scale(1.5);
  }
/* IMAGE */
.main-img img{
    width: 100%;
}
/* NAV */
.nav-links {
    display: flex;
    padding-bottom: 1%;
    justify-content: space-between;
}
.nav-link {
    transition: transform 0.8s ease; /* Smooth transition for the transform property */
}
.nav-link:hover {
    transform: scale(3.5);
}

/* SONGS */
.responsive-two-columns {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(257px, 1fr) );
    grid-template-rows: repeat( auto-fit, minmax(80px, 1fr) );
    text-align: center;
    align-content: center;
}
.songnames {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Adjust as needed */
    height: 100%; /* Ensure it fills the parent's height */
}

/* BLOCKQUOTES */
blockquote {
    font-size:1em;
    width:90%;
    margin:10px auto;
    font-family:'Courier New', Courier, monospace;
    font-style:italic; 
    color: #101010;
    padding:0.5em 0px 0.5em 10px;
    border-left:8px solid #d77600 ; /* #eb8100 - #ff8c00*/
    line-height:1.4em;
    position: relative;
    background:#EDEDED;
}

blockquote span{
    color:black;
    font-style: normal;
    font-weight: bold;
    margin-top:0.5em;
  }




